<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Management</title>
</head>
<body>
    <h1>KHANE KI DUNIYA ME SUWAGAT HAI </h1>
    <div>
        <button onclick="window.location.href='/recipe'">Upload Recipe</button>
        <button onclick="window.location.href='/uploaded'">Uploaded Recipes</button>
        <button onclick="window.location.href='/manage'">Manage Recipes</button>
    </div>
</body>
</html>
