<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        {% csrf_token %}
        <h2>LOGIN PAGE</h2>
        <form method="post">
    
            <div class="form-group">
                <label for="username">Name</label>
                <input  required type="text" name="username" id="recipeName" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-label" for="password">Password</label>
                <input required type="password" id="password" name="password" class="form-control form-control-lg">
            </div>
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</body>
</html>
